<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="Card.properties"/>

    <bean id="myDetailService" class="springxml.services.IroncladDetail"></bean>

    <bean id="myCard" class="springxml.beans.Card">
        <property name="detailService" ref="myDetailService"/>

        <property name="ID" value="${c1.ID}"/>
        <property name="className" value="${c1.className}"/>
        <property name="type" value="${c1.type}"/>
        <property name="rarity" value="${c1.rarity}"/>
        <property name="cost" value="${c1.cost}"/>
        <property name="effect" value="${c1.effect}"/>
        <property name="imgURL" value="${c1.imgURL}"/>
     </bean>
</beans>